<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-secondary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<label *ngIf="dataLoaded == true" style="margin-top: 15px">
  <h5>Kategoriler</h5>
</label>
<input type="text" [(ngModel)]="categoryFilterText" class="form-control" id="categoryFilterText" placeholder="Kategori">

<ul *ngIf="dataLoaded == true" class="list-group">
    <li 
    *ngIf="!categoryFilterText"
    (click)="setDeletedCurrentCategory()" 
    routerLink="/houses"
    [class]="getAllCategoryClass()" >Tüm Kategoriler</li>
    <li
      (click)="setCurrentCategory(category)"
      routerLink="/houses/category/{{category.id}}"
      *ngFor="let category of categories | categoryFilter: categoryFilterText"
      [class]="getCurrentCategoryClass(category)"
    >
      {{ category.categoryName }}
    </li>
  </ul>

