<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-secondary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<label *ngIf="dataLoaded == true" style="margin-top: 30px">
  <h5>Şehirler</h5>
</label>

<input type="text" [(ngModel)]="cityFilterText" class="form-control" id="cityFilterText" placeholder="Şehir">

<ul *ngIf="dataLoaded == true" class="list-group">
    <li
      *ngIf="!cityFilterText"
      (click)="setDeletedCurrentCity()"
      routerLink="/houses"
      [class]="getAllCityClass()"
    >
      Tüm Şehirler
    </li>
    <li
      (click)="setCurrentCity(city)"
      routerLink="/houses/city/{{city.id}}"
      *ngFor="let city of cities  | cityFilter: cityFilterText"
      [class]="getCurrentCityClass(city)"
    >
      {{ city.cityName }}
    </li>
  </ul>